body {
	font-family: "Helvetica";
}

#application {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

#messageGrid {
	overflow-y: auto;
}

[data-role=page] {
	height: 100% !important; 
	width: 100%;
	margin: 0;
	position:absolute !important;
}

[data-role=footer] {
	bottom:0;
	position: absolute !important;
	top: auto !important;
	width:100%;
}

.imgContainer {
	position: absolute;
	width: 100px;
	height: 100px;
}

.imgThumb {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: solid 25px black;
}

#mapContainer {
	height: 300px;
	width: 100%;
}

#map {
	height: 100%;
}

#chatInput {
	width: 75% !important
}

#chatSubmit {
	width: 25% !important;
	margin-top: 0.5% !important
}


#searchButton {
	float: right;
}