body {
	font-family: "Helvetica";
}

.imgContainer {
	position: absolute;
	width: 100px;
	height: 100px;
}

.imgThumb {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: solid 25px black;
}